---
layout: default
title: Home
---

<img src="{{ site.baseurl }}/assets/page/DSC_4897.jpg">

<h1>Product-focused Technology Leader</h1>

<p>With 19 years of <a href="https://www.linkedin.com/in/dealingwith">experience</a> in technology and entrepreneurship, I help companies ship software that delivers real value to customers.<p>

<a href="{{ site.baseurl }}/about" title="About">More about me</a>

<hr>

<h1>Recent Posts</h1>

<p>My blog is a much more personal journal than professional mouthpiece.</p>

<hr class="blog_divide">
      
<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h2 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
      
        <a href="{{ site.baseurl }}{{ post.url }}" class="excerpt">{{ post.excerpt | strip_html }}</a>
      
      <hr class="blog_divide">
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
