---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <h2 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
      </h2>
      <p class="excerpt">{{ post.excerpt | strip_html }}</p>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">&laquo Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer &raquo</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
