<header class="masthead">
  <div class="masthead-title narrow">
    <a class="h-card" href="{{ site.baseurl }}/" rel="me">
      <img src="{{ site.baseurl }}/images/5855824960_29b2038af1_b_crop.jpg" alt=""> Daniel Miller
    </a>
    <div class="menu">
      <a class="menu-item" href="{{ site.baseurl }}/about.html" title="About">About</a> /
      <a class="menu-item" href="{{ site.baseurl }}/music/" title="Music">Music</a> /
      <a class="menu-item last" href="http://minecraftu.org/" title="MinecraftU">Minecraft U</a> /
      <a class="menu-item" href="{{ site.baseurl }}/archives.html" title="About">Archives</a>
    </div>
    <div style="clear:left"></div>
  </div>
</header>
