<div class="header">
  
    <div class="container">
      <img src="{{ site.baseurl }}/assets/page/DSC_4899-copy.jpg" class="profile-pic">

      <h1 style="text-align: center;"><a href="/">Daniel Miller</a></h1>

      <h3 style="text-align: center;">Product-focused Technology Leader</h3>

      <p>With 20 years of <a href="https://www.linkedin.com/in/dealingwith">experience</a> in technology and entrepreneurship, I help companies ship software that delivers real value to customers.</p>

      <p><a href="{{ site.baseurl }}/about" title="About">More about me →</a></p>
    </div>
  
</div>