<header class="masthead">
  <div class="masthead-title narrow">
    <a href="{{ site.baseurl }}/" title="Home">Daniel Miller</a> &nbsp;
    <div class="menu">
      <a class="menu-item" href="{{ site.baseurl }}/about.html" title="About">About</a> &nbsp;/&nbsp;
      <a class="menu-item" href="{{ site.baseurl }}/music/" title="Music">Music</a> &nbsp;/&nbsp;
      <a class="menu-item last" href="http://minecraftu.org/" title="MinecraftU">Minecraft U</a> &nbsp;/&nbsp;
      <a class="menu-item" href="{{ site.baseurl }}/archives.html" title="About">Archives</a>
    </div>
  </div>
</header>