$black: #404040;
$grey: #999;
$dark-grey: #353739;
$light-grey: #e9e9e9;
$background-grey: #fdfdfd;
$yellow: #ffff90;
$link-blue: #268bd2;
$border: 1px solid $light-grey;
$white: #F1F7F6;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*::selection{background-color:#ffff90}

html,
body {
  margin: 0;
}

body {
  color: $black;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $link-blue;
  cursor: pointer;
  position: relative;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:not(.image, .dead) {
    &:hover,
    &:focus {
      background: $yellow;
    }
  }

  strong {
    color: inherit;
  }

  &.dead {
    color: $dark-grey;
    text-decoration: line-through;
  }

}

h1, .masthead-title {
  a {
    &:hover,
    &:focus {
      border: none;
    }
  }
}

img {
  border-radius: 5px;
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

table {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  font-size: 85%;
  margin-bottom: 1rem;
  width: 100%;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.small {
  font-size: .8em
}
.italic {
  font-style: italic;
}

.cc-logo {
  border: 1px solid #515151;
  border-radius: 100px;
  padding: 2px 4px 4px;
}

.menu {
  border-bottom: 1px solid $light-grey;
  * {
    margin-bottom: 0px !important;
  }
}

.menu-item {
  color: $black;
  float: left;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  padding: 0.3rem .5rem;
  text-align: center;
}

.excerpt {
  color: #999;
  display: block;
  font-size: 0.95rem;
  line-height: 1.3rem;
  margin: -5px;
  padding: 5px 5px 0px;
  div.image {
    background-position: top;
    background-size: cover;
    height: 200px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  img {
    max-width: 200px;
    margin-right: 1rem;
    float: left;
  }
}

.index-about {
  margin: 1rem;
  text-align: center;
  img {
    margin: 0 auto;
    max-width: 600px;
  }
}
@media (max-width: 650px) {
  .index-about {
    img {
      max-width: 100%;
    }
  }
}

// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  // background: #f9f9f9;
  // border-top: 2px solid $link-blue;
  // border-bottom: 1px solid $light-grey;
  padding: .5rem .5rem .2rem;
}

.masthead-title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  
  a {
    color: $black;
  }

  img, svg {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 30px;
  }
}

// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.posts {
  img {
    margin-bottom: 0px;
  }
}

.page,
.post {
  .content & {
    // border: 1px solid #e9e9e9;
    // border-radius: 5px;
    // padding: 20px;
  }
  border-bottom: 1px dashed $light-grey;
  margin-bottom: 2em;
  padding-bottom: 2em;
  &:last-child {
    border-bottom: none;
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title {
  a {
    color: #303030;
    margin: -5px;
    padding: 0 5px;
  }
}

// Meta data line below post title
.post-date {
  color: $grey;
  // display: block;
  font-size: 0.9rem;
  // margin-bottom: 0.5rem;
  margin-top: -.5rem;
}

// Related posts
.related {
  border-top: 1px solid #eee;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.related-posts {
  list-style: none;
  padding-left: 0;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      color: #999;
      font-size: 75%;
    }

    a:hover {
      small {
        color: inherit;
      }
    }
  }
}

// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  display: block;
  font-size: 0.8rem;
  padding: 0.8rem;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  // border: solid #eee;
  // border-width: 1px;
  display: block;
  padding: 1rem;
  text-align: center;

  &:first-child {
    margin-bottom: -1px;
  }
}

// Only provide a hover state for linked pagination items
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }

  .pagination-item {
    float: left;
    text-align: left;
    width: 50%;

    &.newer {
      text-align: right;
    }

    &:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius:    5px;
      margin-bottom: 0;
    }
    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius:    5px;
      margin-left: -1px;
    }
  }
}

// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  background-color: #f9f9f9;
  color: #717171;
  margin-bottom: 1rem;
  padding: 1rem;
}

.aa-input-search {
  border: 1px solid #e5e5e5;
  float: right;
  font-size: .8rem;
  margin-left: 5px;
  padding: 4px;
}
#search-results {
  display: none;
  border-bottom: 2px solid #e5e5e5;
  border-top: 2px solid #e5e5e5;
  margin: 20px 0;
  &:before {
    content: 'search results:'
  }
}

s {
  text-decoration-style: wavy;
}

.postscript {
  color: $grey;
}

img.profile-pic {
  border: 2px solid $white;
  border-radius: 75px;
  box-shadow: 1px 1px 1px $light-grey;
  margin: 0 auto;
  max-width: 150px;
  .content & {
    border: 2px solid $dark-grey;
  }
}
