$black: #404040;
$grey: #999;
$light-grey: #e9e9e9;
$yellow: rgba(#ffff90, .8);
$link-blue: #268bd2;
$border: 1px solid $light-grey;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  color: $black;
  background-color: #fdfdfd;
  padding: 0;
  margin: 0;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $link-blue;
  cursor: pointer;
  position: relative;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:not(.image) {
    &:hover,
    &:focus {
      background: rgba($yellow, .4);
    }
  }

  strong {
    color: inherit;
  }

}

h1, .masthead-title {
  a {
    &:hover,
    &:focus {
      border: none;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.small {
  font-size: .8em
}
.italic {
  font-style: italic;
}

.cc-logo {
  border: 1px solid #515151;
  border-radius: 100px;
  padding: 2px 4px 4px;
}

.menu {
  @media (max-width: 435px) { 
    margin-top: 1.5rem;
  }
}

.menu-item {
  font-size: .9rem;
  font-weight: 500;
  color: lighten($black, .8);
  letter-spacing: 0;
}

.page, .post {
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.excerpt {
  color: lighten(#4C4C4C, 10);
  display: block;
  margin: -5px;
  padding: 5px;
  div.image {
    background-position: center;
    background-size: cover;
    height: 200px;
  }
}

// Typography
//
// Headings, body text, lists, and other misc typographic elements.

html, body {
  font-family: Avenir, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
  font-family: Avenir, sans-serif;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p, iframe {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  ul, ol, dl {
    margin-bottom: 0;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 2px solid $light-grey;
  // border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  border-left: .20rem solid $light-grey;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

article p, article > a {
  font-family: 'Droid Serif', 'Source Serif Pro', Georgia, serif;
  line-height: 1.6em;
}


// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  background: #f9f9f9;
  border-bottom: 1px dotted $grey;
  padding: 1rem;
  margin-bottom: 2rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $black;
  font-weight: bold;

  a {
    color: $black;
  }

  img {
    border-radius: 25px;
    float: left;
    margin: 0 10px 0 0;
    max-width: 50px;
  }
}

// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  // margin-bottom: 4em;
}

// Blog post or page title
.page-title,
.post-title,
.post-title {
  a {
    color: #303030;
    margin: -5px;
    padding: 0 5px;
    // &:hover {
    //   background-color: $yellow;
    // }
  }
}
.page-title,
.post-title {
  margin-bottom: .5rem;
  margin-top: 0;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}


// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      // color: #268bd2;
      // text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}

// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  display: block;
  font-size: 0.8rem;
  padding: 0.8rem;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  display: block;
  padding: 1rem;
  border: solid #eee;
  border-width: 1px;
  text-align: center;

  &:first-child {
    margin-bottom: -1px;
  }
}

// Only provide a hover state for linked pagination items
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }

  .pagination-item {
    float: left;
    width: 50%;
    text-align: left;

    &.newer {
      text-align: right;
    }

    &:first-child {
      margin-bottom: 0;
      border-top-left-radius:    4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      margin-left: -1px;
      border-top-right-radius:    4px;
      border-bottom-right-radius: 4px;
    }
  }
}

// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

.aa-input-search {
  border: 1px solid #e5e5e5;
  float: right;
  font-size: .8rem;
  margin-left: 5px;
  padding: 4px;
}
#search-results {
  display: none;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  margin: 20px 0;
  &:before {
    content: 'search results:'
  }
}

s {
  text-decoration-style: wavy;
}

.postscript {
  color: $grey;
}
