// Layout
//
// Styles for managing the structural hierarchy of the site.
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
  max-width: 30rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}
@media screen and (min-width: 856px) {
  .container {
    margin: 0 auto;
    max-width: 700px;
    padding: 60px 75px;
  }
}

footer {
  padding: 1rem;
}

.header {
  padding: 0.5rem 1.5rem;
  * {
    color: $dark-grey;
    line-height: 0.4rem;
  }
  a {
    color: $dark-grey;
    display: inline;
    padding: 4px;
  }
  a:hover {
    border: 1px dotted $black;
    border-radius: 100px;
    color: $black;
    padding: 3px;
  }
}

@media screen and (max-width: 1400px) {
  .header {
    border-right: 0px;
    border-bottom: 3px solid $white;
  }
}