// Layout
//
// Styles for managing the structural hierarchy of the site.
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
  max-width: 30rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}
@media screen and (min-width: 856px) {
  .container {
    margin: 0 auto;
    max-width: 700px;
    padding: 60px 75px;
  }
}

footer {
  padding-bottom: 1rem;
}

.header {
  background-color: $dark-grey;
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 3px solid $white;
  * {
    color: $white;
    line-height: 1.6rem;
  }
  a {
    border-bottom: 1px dotted $white;
  }
  a:hover {
    background: none;
  }
  .default & {
    * {
      font-size: 1rem;
    }
    p, img, h3 {
      display: none;
    }
    .container {
      padding: 10px 0 15px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .header {
    border-right: 0px;
    border-bottom: 3px solid $white;
  }
}