// Typography
//
// Headings, body text, lists, and other misc typographic elements.

html, body {
  color: $black;
  font-family: avenir, sans-serif;
  font-size: 1.05rem;
  line-height: 1.4rem;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, header *, .menu * {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-top: 0;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

h4, h5, h6 {
  font-size: 1rem;
  margin-top: 1rem;
}

strong {
  color: #303030;
  font-weight: 600;
}

ul, ol, dl {
  margin-bottom: 1rem;
  margin-top: 0;
  ul, ol, dl {
    margin-bottom: 0;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  border: 0;
  border-top: 2px solid $light-grey;
  clear: left;
  margin: 1.5rem 0;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    border-bottom: 1px dotted #e5e5e5;
    cursor: help;
  }
}

blockquote {
  border-left: .20rem solid $light-grey;
  margin: .8rem 0;
  padding: 0 0 0 1rem;

  p:last-child {
    margin-bottom: 0;
  }
}
