<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div style="margin: 1rem">
      <h2>{{ page.category }}</h2>
      <ul>
      {% for post in site.categories[page.category] %}
        <li><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>

      <br style="clear:left">
    </div>
    <div class="container content">
      <footer class="footer">
        <small>
          <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons licensed</a>, 2001&ndash;<time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
        </small>
      </footer>
    </div>
  </body>
</html>
