<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="default">
      <div class="header">
        <h1 style="text-align: right;">
          <a href="/" class="material-icons md-24">home</a>
          <a href="/about" class="material-icons md-24">face</a>
          <a href="/music" class="material-icons md-24">album</a>
        </h1>
      </div>
      <div class="column right">
        <div class="container content">
          <main>
            {{ content }}
          </main>
        </div>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
