<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title narrow">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
        <p class="menu">
          <a href="{{ site.baseurl }}/about.html" title="About" class="menu-item">About</a>
          <a href="https://danielmiller.bandcamp.com/" title="Music" class="menu-item">Music</a>
          <a href="http://minecraftu.org/" title="MinecraftU" class="menu-item">Minecraft U</a>
        </p>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          <img src="{{ site.baseurl }}/assets/cc.large.png" style="height: 1rem; display: inline; margin: 0px 2px -3px 0px"> <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. <a href="http://creativecommons.org/licenses/by/4.0/">Some rights reserved</a>.
        </small>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://hypothes.is/embed.js" async></script>
  </body>
</html>
